*.RData
*.Rhistory
*.cpg
*.csv
*.dbf
*.jp2
*.mgrd
*.npy
*.png
*.prj
*.sdat
*.sgrd
*.shp
*.shx
*.tar
*.tif
*.xml
*.zip
.env
.ipynb_checkpoints
.venv
.virtual_documents
Sentinel-2
__pycache__
data/landcoverai
data/rasters
data/sentinel
madrid/.RDataTmp
madrid/sentinel
models
site