madrid/sentinel
models
notebooks
data/landcoverai
data/sentinel
data/rasters
*.tif
*.npy
Sentinel-2
__pycache__
.env
.ipynb_checkpoints
*.RData
*.Rhistory
madrid/.RDataTmp
.virtual_documents
*.csv
*.png
*.zip
*.jp2
*.xml
*.tar